service:
  type: LoadBalancer

image:
  repository: "influxdb"
  tag: "1.7"

persistence:
  enabled: false

initScripts:
  enabled: true
  scripts:
    init.iql: |+
      CREATE DATABASE "smartthings" WITH DURATION 30d