service:
  type: LoadBalancer

image:
  repository: "{{ charts.influxdb.image_name }}"
  tag: "{{ charts.influxdb.image_version }}"

persistence:
  enabled: false

initScripts:
  enabled: true
  scripts:
    init.iql: |+
      CREATE DATABASE "smartthings" WITH DURATION 30d